<div class="container">

    <ul class="nav nav-pills">
        <li role="presentation">
            <a [routerLink]="('/contact/'+id+'/info')">Pregled</a>
        </li>
        <li role="presentation">
            <a [routerLink]="('/contact/'+id+'/edit')">Izmena</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>