<div class="container">

  <h1>Editovanje kontakta</h1>

  <form [formGroup]="forma" (ngSubmit)="submitForm()">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="id">Id:</label>
        <input type="text" class="form-control" id="id" placeholder="Id" name="id" formControlName="id">
      </div>


      <div class="form-group col-md-4">
        <label for="Name">Ime:</label>
        <input type="text" class="form-control" id="firstName" placeholder="Ime" name="firstName" formControlName="firstName">
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Prezime:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Prezime" name="lastName" formControlName="lastName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="image">Slika:</label>
        <input type="text" class="form-control" id="picture" placeholder="Slika" name="image" formControlName="img">
      </div>
      <div class="form-group col-md-4">
        <label for="age">Starost:</label>
        <input type="number" class="form-control" id="age" placeholder="Starost" name="age" formControlName="age">
      </div>
      <div class="form-group col-md-4">
        <label for="birthDate">Datum rodjenja:</label>
        <my-date-picker name="mydate" [options]="editDatePickerOptions" formControlName="birthDate" required></my-date-picker>
      </div>
    </div>
    <button type="submit">Zapamti</button>
  </form>

</div>