<div class="container">
    <h1>Dodaj kontakt</h1>

    <form [formGroup]="forma" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Name">Ime:</label>
                <input type="text" class="form-control" id="firstName" placeholder="Ime" name="firstName" formControlName="firstName">
                <div *ngIf="forma.controls.firstName.invalid && formaSubmited" class="invalid-feedback">Ime mora biti uneto.</div>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Prezime:</label>
                <input type="text" class="form-control" id="lastName" placeholder="Prezime" name="lastName" formControlName="lastName">
                <div *ngIf="forma.controls.lastName.invalid && formaSubmited" class="invalid-feedback">Prezime mora biti uneto.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="image">Slika:</label>
                <input type="text" class="form-control" id="picture" placeholder="Slika" name="image" formControlName="img">
                <div *ngIf="forma.controls.img.invalid && formaSubmited" class="invalid-feedback">Morate uneti naziv slike sa ekstenzijom.</div>
            </div>
            <div class="form-group col-md-4">
                <label for="age">Starost:</label>
                <input type="number" class="form-control" id="age" placeholder="Starost" name="age" formControlName="age">
            </div>
            <div class="form-group col-md-4">
                <label for="birthDate">Datum rodjenja:</label>
                <my-date-picker name="mydate" [options]="editDatePickerOptions" formControlName="birthDate"></my-date-picker>
            </div>
        </div>
        <button type="submit">Zapamti </button>
    </form>
</div>