<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="('')" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Pocetna</span>
    </button>
    <button [routerLink]="('/contacts')" mat-menu-item>
      <mat-icon>voicemail</mat-icon>
      <span>Pregled kontakata</span>
    </button>
    <button [routerLink]="('/contacts/new')" mat-menu-item>
      <mat-icon>add</mat-icon>
      <span>Dodaj novi kontakt</span>
    </button>
  </mat-menu>
<router-outlet></router-outlet>